// Variable overrides first
$dark: #0A0A0A;
$enable-shadows: true;
$prefix: "mo-";

$hover-bg-dark: 3;
$hover-fg-dark: .8;

$hover-bg-light: .8;
$hover-fg-light: 3;


// Create your own map
$custom-colors: (
  "fg-dark":#00f2ff,
  "bg-dark":#0A0A0A,
  "a1-dark":#40a83e,
  "a2-dark":#CFD186,
  "a3-dark":#E3655B,
  "fg-light":#00282a,
  "bg-light":#f0e0e0,
  "a1-light":#308d9a,
  "a2-light":#8ED081,
  "a3-light":#904E55,
);

// Merge the maps


// Then import Bootstrap
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";

$fg-dark: map-get($custom-colors , "fg-dark");
$bg-dark: map-get($custom-colors , "bg-dark");
$a1-dark: map-get($custom-colors , "a1-dark");
$a2-dark: map-get($custom-colors , "a2-dark");
$a3-dark: map-get($custom-colors , "a3-dark");

$fg-light: map-get($custom-colors , "fg-light");
$bg-light: map-get($custom-colors , "bg-light");
$a1-light: map-get($custom-colors , "a1-light");
$a2-light: map-get($custom-colors , "a2-light");
$a3-light: map-get($custom-colors , "a3-light");


.circle{
  border-radius: 100%;   
}

.story-pages{
  position: relative;
	top: 10px;
  // background: url("https://imgur.com/a/4HhkZ");
  
	background: url("https://i.imgur.com/0kjMcUe.png");
	background-size: 1000px;
	background-position: center right;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	// width: 50%;
	// height: auto;
	// padding: 30px 80px 50px 80px;
	z-index: 1;
	filter: brightness(0.95) sepia(30%) saturate(80%);
	border-radius: 30px;
	height: 90vh;
	
	// overflow: auto;
}

.page {
  background-image: url("https://images.unsplash.com/photo-1603513492128-ba7bc9b3e143?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGFwZXIlMjB0ZXh0dXJlfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80");
}

.demo-block {
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
}

.flip-book {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  display: none;
  z-index: 100;
}

.page {
  max-width: 95%;
  color: rgb(236, 26, 26);
  background-color: white;
}

.page img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.flex {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.button {
  position: absolute;
  color: red;
  z-index: 1000;
  cursor: pointer;
}
.button i {
  font-size: 30px;
}
.previous {
  left: 1%;
}
.next {
  right: 1%;
}
.info-page {
  position: absolute;
  bottom: 20px;
}


// .html-book {
//   background-size: cover;
// }

.page {
//   padding: 20px;

//   background-color: hsl(35, 55, 98);
//   color: hsl(35, 35, 35);
//   border: solid 1px hsl(35, 20, 70);

//   overflow: hidden;

//   .page-content {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: stretch;

//     .page-header {
//       height: 30px;
//       font-size: 100%;
//       text-transform: uppercase;
//       text-align: center;
//     }

//     .page-image {
//       height: 100%;
//       background-size: contain;
//       background-position: center center;
//       background-repeat: no-repeat;
//     }

//     .page-text {
//       height: 100%;
//       flex-grow: 1;
//       font-size: 80%;
//       text-align: justify;
//       margin-top: 10px;
//       padding-top: 10px;
//       box-sizing: border-box;
//       border-top: solid 1px hsl(35, 55, 90);
//     }

//     .page-footer {
//       height: 30px;
//       border-top: solid 1px hsl(35, 55, 90);
//       font-size: 80%;
//       color: hsl(35, 20, 50);
//     }
//   }

  &.--left {
    border-right: 0;
    box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
  }

  &.--right {
    border-left: 0;
    box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);


  }
}

//   &.hard {
//     background-color: hsl(35, 50, 90);
//     border: solid 1px hsl(35, 20, 50);
//   }

//   &.page-cover {
//     background-color: hsl(35, 45, 80);
//     color: hsl(35, 35, 35);
//     border: solid 1px hsl(35, 20, 50);

//     h2 {
//       text-align: center;
//       padding-top: 50%;
//       font-size: 210%;
//     }

//     &.page-cover-top {
//       box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5),
//         -2px 0 5px 2px rgba(0, 0, 0, 0.4);
//     }

//     &.page-cover-bottom {
//       box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5),
//         10px 0 8px 0px rgba(0, 0, 0, 0.4);
//     }
//   }
// }




// Infinite loop
.infinite-scroll-loop {
  &-outer {
      position: relative;
      &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
              #fff 0%,
              rgba(255, 255, 255, 0) calc(15%),
              rgba(255, 255, 255, 0) calc(85%),
              #fff 100%
          );
          pointer-events: none;
      }
  }
  &-inner {
      overflow-y: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
          display: none;
      }
  }
}